.TOtoDest{
    display: flex;
    flex-direction: row;

}

.TONotes{ 
    margin-left: 15px;
    display: flex;

 
}
.TONotes{
    display: flex;
    flex-direction: column;

}
.notesStars{
    display: flex;
    flex-direction: row;
    border : 2px solid rgb(0, 255, 242);

    
}
.star{
    height: 15px;
}

.stars{
    width :100px;
    

}
.note{
    margin-left: 10px;
}