.TOtoDest{
    display: flex;
    flex-direction: row;

}
.TO{
    width: 25%;
    
    
}
.TONotes{ 
    margin-left: 15px;
    display: flex;

    width: 25%;
}
.TONotes{
    display: flex;
    flex-direction: column;

}
.notesStars{
    display: flex;
    flex-direction: row;
}
.star{
    width: 20px
}

.stars{
    width :100px;
    border: solid blue 2px;

}