#body{
    background-color: rgb(255, 255, 255);
    height: 200vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo4{
    margin-top: 10vw;
    margin-left: 31vw;
}

#logo3{
    margin-top: 10vw;
    margin-left: 10vw;
}

<<<<<<< HEAD
#navbar,#chooseDestination{
    background-color: rgb(255, 255, 255);
    height: 10vw;
}

.TOtoDest{
=======
.NoteImageRevue{
>>>>>>> e776a056d768878513e97a5e97ed7d9ba9571125
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.LocImg{
    width: 100%;
}
.imgLocation{
    width: 45%;
} 
.TOtoDest{
    width: 45%;
    height: 50%;
}
.revue{
    position:relative;

}

.allTO{
    width: 70%;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
}
.TO{
    width: 33%;
    text-align: center;

}
.price{
    width: 33%;
}

.TONotes{ 

    margin-left: 15px;
    display: flex;
    flex-direction: row;

 
}
.TONotes{
    display: flex;
    flex-direction: column;
    width: 33%;

}
.notesStars{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.star{
    height: 15px;
    margin-top: 5%;
}

.stars{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.comments{
    margin-bottom: 10px;
}
<<<<<<< HEAD
=======
.author{
    margin-left: 15px;
    margin-right: 5px;
}

.commentary{
    display: flex;
    flex-direction: row;
}
.note{
    width: 100%;
}
.revue{
    border: pink 2px solid;
}

/* test */
#body{
    background-color: rgba(22, 145, 197);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo1{
    margin-top: 10vw;
    margin-left: 10vw;
}
>>>>>>> e776a056d768878513e97a5e97ed7d9ba9571125


footer{
    background-position: center;
}
  #butTop{
    overflow: hidden;
    bottom:  0;
    right: 0;
    justify-content:end;
    margin-block: 10px;
    position: fixed;
}
