#body{
    background-color: rgb(255, 255, 255);
    height: 200vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo4{
    margin-top: 10vw;
    margin-left: 31vw;
}

#logo3{
    margin-top: 10vw;
    margin-left: 10vw;
}

#navbar,#chooseDestination{
    background-color: rgb(255, 255, 255);
    height: 10vw;
}

.TOtoDest{
    display: flex;
    flex-direction: row;

}

.TONotes{ 
    margin-left: 15px;
    display: flex;

 
}
.TONotes{
    display: flex;
    flex-direction: column;

}
.notesStars{
    display: flex;
    flex-direction: row;
    border : 2px solid rgb(0, 255, 242);

    
}
.star{
    height: 15px;
}

.stars{
    width :100px;
    

}
.note{
    margin-left: 10px;
}


footer{
    background-position: center;
}
  #butTop{
    overflow: hidden;
    bottom:  0;
    right: 0;
    justify-content:end;
    margin-block: 10px;
    position: fixed;
}
